.col {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    background-color: #3A5E5B;
    color: #FFFFFF;
}

footer, .bg-custom {
    background-color: #1C2E2C;
}

main {
    height: 100vh;
}

.btn-primary {
    
    background-color: #11b257;
    color: #FFFF;

} 